*{
  font-family: "Rimouski";
}

body{
  background-color: #293251;
}

.container{
  width: 300px;    
  background-color: #FFF;
  
  display: block;
  margin: 0 auto;
  
  border-radius: 10px;
  padding-bottom : 50px;
}

.app-title{
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p{
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.notification{
  background-color: #f8d7da;
  display: none;
}

.notification p{
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container{
  width: 300px;
  height: 260px;
  background-color: #F4F9FF;
}

.weather-icon{
  width: 300px;
  height: 128px;
}

.weather-icon img{
  display: block;
  margin: 0 auto;
}

.temperature-value{
  width: 300px;
  height:60px;
}

.temperature-value p{
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value p:hover{
  
}

.temperature-value span{
  color: #293251;
  font-size: 0.5em;
}

.temperature-description{
  
}

.temperature-description p{
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location{
  
}

.location p{
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* .ajax-section {
    margin: 70px 0 20px;
  }
  
  .ajax-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .ajax-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med);
  }
  
  .ajax-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: var(--text_light);
  }
  
  .ajax-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .ajax-section .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
  }
  
  .ajax-section .city sup {
    font-size: 0.5em;
  }
  
  .ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
  }
  
  .ajax-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
   /* .page-footer {
    text-align: right;
    font-size: 1rem;
    color: var(--text_light);
    margin-top: 40px;
  }
  
  .page-footer span {
    color: var(--red);
  }  */
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* @media screen and (max-width: 1000px) {
    body {
      padding: 30px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 700px) {
    .heading,
    .ajax-section .city-temp {
      font-size: 3rem;
    }
    
    .ajax-section {
      margin-top: 20px;
    }
    
    .top-banner form {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .top-banner form input,
    .top-banner form button {
      width: 100%;
    }
  
    .top-banner form button {
      margin: 20px 0 0 0;
    }
    
    .top-banner form .msg {
      position: static;
      max-width: none;
      min-height: 0;
      margin-top: 10px;
    }
  
    .ajax-section .cities {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 500px) {
    body {
      padding: 15px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(1, 1fr);
    }
  }
    */
  
  /* API Key banner
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
   /* .api {
    background: #fffbbc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  
  .api a {
    text-decoration: underline;
  }
  
  .api a:hover {
    text-decoration: none;
  }  */ 